/*Fonte*/


/*Zerar - Resetando padrão , sem margens ...*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: #FFFFFF;
    background: #87CEEB;
}
ul{
    list-style: none;
}
a{/*Sem texto com decoração*/
    text-decoration: none;
}
ul{/*Decorações iniciais*/
  list-style: none; 
}
html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}
nav{
    max-width: 1120px;
    margin:auto;
    padding : 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*Estilizando elementos*/
.logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.menu{
    display: flex;
    gap: 2rem;
    color: #FFF2E780;
}
/*
.github{
    margin-right: 1rem;
    color: #FFF2E7;
    font-weight: 600;  
}
*/

main{
    display: flex;
    flex-direction: column;
}
.hero{
    background: hwb(210 55% 0%);
    max-width: 1120px;
    height: 60vh;
    justify-content: space-between;
    gap: 6rem;
    display: flex;
    flex-direction: row;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;


}
.pricipal{

}
.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}
/*
.hero-imagens-container{
    max-width: 45%;
    -moz-column-count: 4;
}
*/

/*
.hero-imagens-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;

}    
*/

